# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [6]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

sum_ = 0
for index, sqrt_value in enumerate(generator):
    print(f"index - {index + 1} || value - {sqrt_value} ")
    sum_ += sqrt_value

print(f'SUM VAL: {sum_}')

index - 1 || value - 1.0
index - 2 || value - 1.4142135623730951
index - 3 || value - 1.7320508075688772
index - 4 || value - 2.0
index - 5 || value - 2.23606797749979
SUM VAL: 8.382332347441762

In [8]:
limit = 13
generator = square_root_generator(limit)

for index, sqrt_value in enumerate(generator):
    print(f"index - {index + 1} || value - {sqrt_value} ")

index - 1 || value - 1.0
index - 2 || value - 1.4142135623730951
index - 3 || value - 1.7320508075688772
index - 4 || value - 2.0
index - 5 || value - 2.23606797749979
index - 6 || value - 2.449489742783178
index - 7 || value - 2.6457513110645907
index - 8 || value - 2.8284271247461903
index - 9 || value - 3.0
index - 10 || value - 3.1622776601683795
index - 11 || value - 3.3166247903554
index - 12 || value - 3.4641016151377544
index - 13 || value - 3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [14]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [15]:
import duckdb

def get_duckdb_connection(pipeline):
    conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")
    conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
    return conn

In [16]:
import dlt

pipeline = dlt.pipeline(
    pipeline_name="task_two",
    destination="duckdb",
    dataset_name="people_data",
)

In [17]:
pipeline.run(people_1, table_name="people_table")

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x000001DDB7C9EFD0>, metrics={'1707766163.9768975': [{'started_at': DateTime(2024, 2, 12, 19, 29, 24, 613595, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 12, 19, 29, 24, 955498, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///C:\\Users\\Luka\\Desktop\\DESK\\Studying\\DE-zoomcamp\\dlt-workshop\\task_two.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='people_data', loads_ids=['1707766163.9768975'], load_packages=[LoadPackageInfo(load_id='1707766163.9768975', package_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_two\\load\\loaded\\1707766163.9768975', state='loaded', schema=Schema task_two at 2051819578512, schema_update={'_dlt_pipeline_state': {'columns': {'version': {'name': 'version', 'data_type': 'bigint', 'nullable': False}, 'engine_version': {'name': 'engine_version', 'data_type': 'bigint', 'nullable': False}, 'pipeline_name': {'name': 'pipeline_name', 'data_type': 'text', 'nullable': False}, 'state': {'name': 'state', 'data_type': 'text', 'nullable': False}, 'created_at': {'name': 'created_at', 'data_type': 'timestamp', 'nullable': False}, 'version_hash': {'name': 'version_hash', 'data_type': 'text', 'nullable': True}, '_dlt_load_id': {'name': '_dlt_load_id', 'data_type': 'text', 'nullable': False}, '_dlt_id': {'name': '_dlt_id', 'data_type': 'text', 'nullable': False, 'unique': True}}, 'write_disposition': 'append', 'name': '_dlt_pipeline_state', 'resource': '_dlt_pipeline_state', 'table_format': None}, '_dlt_version': {'name': '_dlt_version', 'columns': {'version': {'name': 'version', 'data_type': 'bigint', 'nullable': False}, 'engine_version': {'name': 'engine_version', 'data_type': 'bigint', 'nullable': False}, 'inserted_at': {'name': 'inserted_at', 'data_type': 'timestamp', 'nullable': False}, 'schema_name': {'name': 'schema_name', 'data_type': 'text', 'nullable': False}, 'version_hash': {'name': 'version_hash', 'data_type': 'text', 'nullable': False}, 'schema': {'name': 'schema', 'data_type': 'text', 'nullable': False}}, 'write_disposition': 'skip', 'resource': '_dlt_version', 'description': 'Created by DLT. Tracks schema updates', 'table_format': None}, '_dlt_loads': {'name': '_dlt_loads', 'columns': {'load_id': {'name': 'load_id', 'data_type': 'text', 'nullable': False}, 'schema_name': {'name': 'schema_name', 'data_type': 'text', 'nullable': True}, 'status': {'name': 'status', 'data_type': 'bigint', 'nullable': False}, 'inserted_at': {'name': 'inserted_at', 'data_type': 'timestamp', 'nullable': False}, 'schema_version_hash': {'name': 'schema_version_hash', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'skip', 'resource': '_dlt_loads', 'description': 'Created by DLT. Tracks completed loads', 'table_format': None}, 'people_table': {'name': 'people_table', 'columns': {'id': {'name': 'id', 'data_type': 'bigint', 'nullable': True}, 'name': {'name': 'name', 'data_type': 'text', 'nullable': True}, 'age': {'name': 'age', 'data_type': 'bigint', 'nullable': True}, 'city': {'name': 'city', 'data_type': 'text', 'nullable': True}, '_dlt_load_id': {'name': '_dlt_load_id', 'data_type': 'text', 'nullable': False}, '_dlt_id': {'name': '_dlt_id', 'data_type': 'text', 'nullable': False, 'unique': True}}, 'write_disposition': 'append', 'resource': 'people_table', 'table_format': None}}, completed_at=DateTime(2024, 2, 12, 19, 29, 24, 924710, tzinfo=Timezone('UTC')), jobs={'failed_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_two\\load\\loaded\\1707766163.9768975\\completed_jobs\\people_table.1d35784684.0.insert_values', file_size=292, created_at=DateTime(2024, 2, 12, 19, 29, 24, 252410, tzinfo=Timezone('UTC')), elapsed=0.6723003387451172, job_file_info=ParsedLoadJobFileName(table_name='people_table', file_id='1d35784684', retry_count=0, file_format='insert_values'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_two\\load\\loaded\\1707766163.9768975\\completed_jobs\\_dlt_pipeline_state.e246759c2a.0.insert_values', file_size=505, created_at=DateTime(2024, 2, 12, 19, 29, 24, 251409, tzinfo=Timezone('UTC')), elapsed=0.6733007431030273, job_file_info=ParsedLoadJobFileName(table_name='_dlt_pipeline_state', file_id='e246759c2a', retry_count=0, file_format='insert_values'), failed_message=None)], 'started_jobs': [], 'new_jobs': []})], first_run=True)

In [18]:
conn = get_duckdb_connection(pipeline)

In [19]:
table = conn.sql(f"SELECT * FROM people_table").df()
display(table)

   id      name  age    city        _dlt_load_id         _dlt_id
0   1  Person_1   26  City_A  1707766163.9768975  iU1umOmdrlMC6g
1   2  Person_2   27  City_A  1707766163.9768975  +MgSMFFYPEBwGw
2   3  Person_3   28  City_A  1707766163.9768975  cY3aL2Ffjvlu9Q
3   4  Person_4   29  City_A  1707766163.9768975  S+EW3yZCevLl8g
4   5  Person_5   30  City_A  1707766163.9768975  0CM1dNzSzH9iuA

In [21]:
people_1_age_sum = table['age'].sum()
print(f"SUM PEOPLE 1: {people_1_age_sum}")

SUM PEOPLE 1: 140

In [22]:
pipeline.run(people_2, table_name="people_table")

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x000001DDB7C9EFD0>, metrics={'1707766189.2646909': [{'started_at': DateTime(2024, 2, 12, 19, 29, 49, 741927, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 12, 19, 29, 50, 194523, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///C:\\Users\\Luka\\Desktop\\DESK\\Studying\\DE-zoomcamp\\dlt-workshop\\task_two.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='people_data', loads_ids=['1707766189.2646909'], load_packages=[LoadPackageInfo(load_id='1707766189.2646909', package_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_two\\load\\loaded\\1707766189.2646909', state='loaded', schema=Schema task_two at 2051858806288, schema_update={'people_table': {'name': 'people_table', 'columns': {'occupation': {'name': 'occupation', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'append', 'resource': 'people_table', 'table_format': None}}, completed_at=DateTime(2024, 2, 12, 19, 29, 50, 145203, tzinfo=Timezone('UTC')), jobs={'failed_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_two\\load\\loaded\\1707766189.2646909\\completed_jobs\\people_table.5f65860646.0.insert_values', file_size=336, created_at=DateTime(2024, 2, 12, 19, 29, 49, 335310, tzinfo=Timezone('UTC')), elapsed=0.8098936080932617, job_file_info=ParsedLoadJobFileName(table_name='people_table', file_id='5f65860646', retry_count=0, file_format='insert_values'), failed_message=None)], 'started_jobs': [], 'new_jobs': []})], first_run=False)

In [23]:
table = conn.sql(f"SELECT * FROM people_table").df()
display(table)

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1707766163.9768975  iU1umOmdrlMC6g       None
1    2  Person_2   27  City_A  1707766163.9768975  +MgSMFFYPEBwGw       None
2    3  Person_3   28  City_A  1707766163.9768975  cY3aL2Ffjvlu9Q       None
3    4  Person_4   29  City_A  1707766163.9768975  S+EW3yZCevLl8g       None
4    5  Person_5   30  City_A  1707766163.9768975  0CM1dNzSzH9iuA       None
5    3  Person_3   33  City_B  1707766189.2646909  E813qszL3PEQvg      Job_3
6    4  Person_4   34  City_B  1707766189.2646909  2fMfgSUEXwo0LQ      Job_4
7    5  Person_5   35  City_B  1707766189.2646909  Ly7qQ0X/yBz+Ug      Job_5
8    6  Person_6   36  City_B  1707766189.2646909  z6ZCyE/Ld7E4+A      Job_6
9    7  Person_7   37  City_B  1707766189.2646909  MIl5G0c/BWv+Gg      Job_7
10   8  Person_8   38  City_B  1707766189.2646909  2iLdImk7lZABaA      Job_8

In [24]:
people_all_age_sum = table['age'].sum()
print(f"SUM PEOPLE ALL: {people_all_age_sum}")

SUM PEOPLE ALL: 353

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [25]:
pipeline = dlt.pipeline(
    pipeline_name="task_three",
    destination="duckdb",
    dataset_name="people_merge_data",
)

In [26]:
pipeline.run(people_1, table_name="people_table", primary_key="ID")

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x000001DDBDC65790>, metrics={'1707766497.0187018': [{'started_at': DateTime(2024, 2, 12, 19, 34, 57, 737276, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 12, 19, 34, 58, 162073, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///C:\\Users\\Luka\\Desktop\\DESK\\Studying\\DE-zoomcamp\\dlt-workshop\\task_three.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='people_merge_data', loads_ids=['1707766497.0187018'], load_packages=[LoadPackageInfo(load_id='1707766497.0187018', package_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_three\\load\\loaded\\1707766497.0187018', state='loaded', schema=Schema task_three at 2051896189648, schema_update={'_dlt_pipeline_state': {'columns': {'version': {'name': 'version', 'data_type': 'bigint', 'nullable': False}, 'engine_version': {'name': 'engine_version', 'data_type': 'bigint', 'nullable': False}, 'pipeline_name': {'name': 'pipeline_name', 'data_type': 'text', 'nullable': False}, 'state': {'name': 'state', 'data_type': 'text', 'nullable': False}, 'created_at': {'name': 'created_at', 'data_type': 'timestamp', 'nullable': False}, 'version_hash': {'name': 'version_hash', 'data_type': 'text', 'nullable': True}, '_dlt_load_id': {'name': '_dlt_load_id', 'data_type': 'text', 'nullable': False}, '_dlt_id': {'name': '_dlt_id', 'data_type': 'text', 'nullable': False, 'unique': True}}, 'write_disposition': 'append', 'name': '_dlt_pipeline_state', 'resource': '_dlt_pipeline_state', 'table_format': None}, '_dlt_version': {'name': '_dlt_version', 'columns': {'version': {'name': 'version', 'data_type': 'bigint', 'nullable': False}, 'engine_version': {'name': 'engine_version', 'data_type': 'bigint', 'nullable': False}, 'inserted_at': {'name': 'inserted_at', 'data_type': 'timestamp', 'nullable': False}, 'schema_name': {'name': 'schema_name', 'data_type': 'text', 'nullable': False}, 'version_hash': {'name': 'version_hash', 'data_type': 'text', 'nullable': False}, 'schema': {'name': 'schema', 'data_type': 'text', 'nullable': False}}, 'write_disposition': 'skip', 'resource': '_dlt_version', 'description': 'Created by DLT. Tracks schema updates', 'table_format': None}, '_dlt_loads': {'name': '_dlt_loads', 'columns': {'load_id': {'name': 'load_id', 'data_type': 'text', 'nullable': False}, 'schema_name': {'name': 'schema_name', 'data_type': 'text', 'nullable': True}, 'status': {'name': 'status', 'data_type': 'bigint', 'nullable': False}, 'inserted_at': {'name': 'inserted_at', 'data_type': 'timestamp', 'nullable': False}, 'schema_version_hash': {'name': 'schema_version_hash', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'skip', 'resource': '_dlt_loads', 'description': 'Created by DLT. Tracks completed loads', 'table_format': None}, 'people_table': {'name': 'people_table', 'columns': {'id': {'name': 'id', 'nullable': False, 'primary_key': True, 'data_type': 'bigint'}, 'name': {'name': 'name', 'data_type': 'text', 'nullable': True}, 'age': {'name': 'age', 'data_type': 'bigint', 'nullable': True}, 'city': {'name': 'city', 'data_type': 'text', 'nullable': True}, '_dlt_load_id': {'name': '_dlt_load_id', 'data_type': 'text', 'nullable': False}, '_dlt_id': {'name': '_dlt_id', 'data_type': 'text', 'nullable': False, 'unique': True}}, 'write_disposition': 'append', 'resource': 'people_table', 'table_format': None}}, completed_at=DateTime(2024, 2, 12, 19, 34, 58, 146822, tzinfo=Timezone('UTC')), jobs={'failed_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_three\\load\\loaded\\1707766497.0187018\\completed_jobs\\people_table.d3c5c19f49.0.insert_values', file_size=289, created_at=DateTime(2024, 2, 12, 19, 34, 57, 269361, tzinfo=Timezone('UTC')), elapsed=0.8774614334106445, job_file_info=ParsedLoadJobFileName(table_name='people_table', file_id='d3c5c19f49', retry_count=0, file_format='insert_values'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_three\\load\\loaded\\1707766497.0187018\\completed_jobs\\_dlt_pipeline_state.e7c054ab37.0.insert_values', file_size=514, created_at=DateTime(2024, 2, 12, 19, 34, 57, 268448, tzinfo=Timezone('UTC')), elapsed=0.8783743381500244, job_file_info=ParsedLoadJobFileName(table_name='_dlt_pipeline_state', file_id='e7c054ab37', retry_count=0, file_format='insert_values'), failed_message=None)], 'started_jobs': [], 'new_jobs': []})], first_run=True)

In [28]:
conn = get_duckdb_connection(pipeline)

In [29]:
table = conn.sql(f"SELECT * FROM people_table").df()
display(table)

   id      name  age    city        _dlt_load_id         _dlt_id
0   1  Person_1   26  City_A  1707766497.0187018  P01ny8qX0arypg
1   2  Person_2   27  City_A  1707766497.0187018  KnOvGUzUxkOzqg
2   3  Person_3   28  City_A  1707766497.0187018  /at50kKI1l+DDA
3   4  Person_4   29  City_A  1707766497.0187018  V9BpaSwLGp9svQ
4   5  Person_5   30  City_A  1707766497.0187018  wukxZ2+BBdIBww

In [30]:
pipeline.run(people_2, table_name="people_table", primary_key="ID", write_disposition="merge")

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x000001DDBDC65790>, metrics={'1707766575.9755676': [{'started_at': DateTime(2024, 2, 12, 19, 36, 16, 507659, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 12, 19, 36, 17, 87704, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///C:\\Users\\Luka\\Desktop\\DESK\\Studying\\DE-zoomcamp\\dlt-workshop\\task_three.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='people_merge_data', loads_ids=['1707766575.9755676'], load_packages=[LoadPackageInfo(load_id='1707766575.9755676', package_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_three\\load\\loaded\\1707766575.9755676', state='loaded', schema=Schema task_three at 2051896571984, schema_update={'people_table': {'name': 'people_table', 'columns': {'occupation': {'name': 'occupation', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'merge', 'resource': 'people_table', 'table_format': None}}, completed_at=DateTime(2024, 2, 12, 19, 36, 17, 46840, tzinfo=Timezone('UTC')), jobs={'failed_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_three\\load\\loaded\\1707766575.9755676\\completed_jobs\\people_table.32cb1e27c0.0.insert_values', file_size=334, created_at=DateTime(2024, 2, 12, 19, 36, 16, 123907, tzinfo=Timezone('UTC')), elapsed=0.9229326248168945, job_file_info=ParsedLoadJobFileName(table_name='people_table', file_id='32cb1e27c0', retry_count=0, file_format='insert_values'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\Luka\\.dlt\\pipelines\\task_three\\load\\loaded\\1707766575.9755676\\completed_jobs\\people_table.57c334d420.0.sql', file_size=730, created_at=DateTime(2024, 2, 12, 19, 36, 16, 683372, tzinfo=Timezone('UTC')), elapsed=0.3634674549102783, job_file_info=ParsedLoadJobFileName(table_name='people_table', file_id='57c334d420', retry_count=0, file_format='sql'), failed_message=None)], 'started_jobs': [], 'new_jobs': []})], first_run=False)

In [31]:
table = conn.sql(f"SELECT * FROM people_table").df()
display(table)

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707766497.0187018  P01ny8qX0arypg       None
1   2  Person_2   27  City_A  1707766497.0187018  KnOvGUzUxkOzqg       None
2   7  Person_7   37  City_B  1707766575.9755676  Za5Uo461rmq+UQ      Job_7
3   4  Person_4   34  City_B  1707766575.9755676  GG4HCcfc4TKKfg      Job_4
4   3  Person_3   33  City_B  1707766575.9755676  ckKfVchJ34wOxA      Job_3
5   6  Person_6   36  City_B  1707766575.9755676  FXAjTCAaiVF0Sw      Job_6
6   5  Person_5   35  City_B  1707766575.9755676  IcapQSLATlJfLw      Job_5
7   8  Person_8   38  City_B  1707766575.9755676  Y7rydI86/BkExw      Job_8

In [33]:
print(f"SUM OF ALL PEOPLE: {table['age'].sum()}")

SUM OF ALL PEOPLE: 266